<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Important Information</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #333;
      color: white;
      padding: 20px;
    }
    table {
      background-color: #444;
      color: white;
    }
    th, td {
      border: 1px solid white;
      padding: 8px;
      color: white;
    }
    button {
      background-color: #6c757d;
      color: white;
      border: none;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #495057;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Important Notes</h1>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Module</th>
          <th>Document Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Basic Electrical Engineering</td>
            <td>Magnetic Circuits</td>
            <td><a href="#" onclick="return false;">magnetic_circuits.pdf</a></td>
        </tr>
        <tr>
            <td>Engineering Mathematics</td>
            <td>Line Integrals</td>
            <td><a href="#" onclick="return false;">line_integrals.pdf</a></td>
        </tr>
        <tr>
            <td>Coding with Python</td>
            <td>Regular Expressions</td>
            <td><a href="#" onclick="return false;">regex.pdf</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p class = "text-center">
        <a href="/"><button class="mt-4">Back to Homepage</button></a>
    </p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
